# AUTHOR: MYPARK
SUBSYSTEM=="input" ACTION=="remove", ENV{ID_MODEL}=="QEMU_USB_Keyboard", ENV{ID_MODEL_ID}=="0001", RUN+="/sbin/modprobe -r keyboard_mod"

